<main aria-labelledby="title">

    @* QUEM SOMOS *@
    <h2 class="about-titles">@ViewBag.QuemSomos</h2>
    O Go Vagas é um site para cadastro de currículos e divulgação de vagas. 
    Voltado para as vagas operacionais, auxiliares e administrativa, temos o objetivo de levar às pessoas novas oportunidades de se colocarem no mercado de trabalho. <br />
    Conheça abaixo as bases do Go Vagas: missão, visão e valores. 
    <h2 class="about-titles">@ViewBag.Missao</h2>

    @* MISSÃO *@
    Proporcionar às pessoas oportunidades de colocação no mercado de trabalho, levando a tecnologia e facilidade ao alcance de todos de forma simples e intuitiva.
    Proporcionar às empresas uma experiência de contato com o candidato de forma rápida e oferecer uma solução a custo justo, para todos os modelos de negócios: grande, médio e o pequeno negócio.


    @* VISÃO *@
    <h2 class="about-titles">@ViewBag.Visao</h2>
    Ser a maior plataforma on-line de recrutamento e seleção para trabalhos operacionais do país.

    @* VALORES *@
    <h2 class="about-titles">@ViewBag.Valores</h2>
    <div class="div-val">
        <ul class="ul-val">
            <li class="li-val">Compromisso com o candidato e com a empresa;</li>
            <li class="li-val">Entregar o melhor resultado para quem busca os serviços do portal;</li>
            <li class="li-val">Usar a tecnologia como agente de inclusão e oportunidades;</li>
            <li class="li-val">Tratar todos com igual comprometimento;</li>
            <li class="li-val">Usar de linguagem simples e objetiva;</li>
            <li class="li-val">Respeito aos funcionários, clientes, parceiros e concorrentes;</li>
            <li class="li-val">Integridade para tratamento das informações armazenadas pelo portal;</li>
            <li class="li-val">Ser justo nos preços praticados pelo portal;</li>
            <li class="li-val">Proporcionar um ambiente de trabalho seguro, confortável e aconchegante aos nossos funcionários;</li>
            <li class="li-val">Respeitar o meio em que nós inserirmos, compromisso com a cultura, meio ambiente e costumes de cada região que atuarmos;</li>
            <li class="li-val">Respeito ao meio ambiente, fauna e flora do nosso país.</li>
        </ul>
    </div>

    <style>
        .about-titles {
            color: #F15A2A;
            background-color: #212529;
            padding: 5px;
            margin-top: 10px
        }

        .ul-val {
            list-style: none;
            margin-left: -30px;
        }
    </style>

</main>