<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>


    @* ENDEREÇO *@
    <address>
        Rua Vila Aurora, 7 - Centro.<br />
        Itaúna, MG - 35680-492<br />
        <abbr>Contato:</abbr>
        (37) 9.9908-4290
    </address>


    @* CONTATO *@
    <address>
        <strong>Comercial:</strong> <a class="contact-mail" href="mailto:fernanda@govagas.com.br">giovana@govagas.com.br</a><br />
        <strong>Marketing:</strong> <a class="contact-mail" href="mailto:fernanda@govagas.com.br">fernanda@govagas.com.br</a><br />
        <strong>Suporte:</strong>   <a class="contact-mail" href="mailto:nathanael@govagas.com.br">nathanael@govagas.com.br</a>
    </address>

    <style>
        .contact-mail{
            text-decoration: none;
        }
    </style>
</main>