<main>
    @* BANNER DO TOPO DA PAGE COM BOTÃO DE CHAMADA PARA AÇÃO*@
    <section class="" aria-labelledby="aspnetTitle">
        <div class="galery" id="galery1">
            <img style="opacity: 1" src="~/img/comm frase.png" class="d-block w-100" alt="...">
            <p><a href="https://api.whatsapp.com/send/?phone=5537999293200&text&type=phone_number&app_absent=0" target="_blank" class="btn btn-dark btn-md text-center btn-hire1 btn-hire-color btn-img">CONTRATE AGORA</a></p>
        </div>
    </section>

    @* FRASE DEPOIS DO BANNER *@
    <section>
        <p class="mt-5 mb-5 p-1" id="frase-meio">
            +60.000 currículos em nossa base com crescimento exponencial de novos cadastros.
        </p>
    </section>

    @* IMAGEM DE MAPA COM TEXTO AO LADO *@
    <section class="info">
        <div>
            <img src="~/img/6304cba3c2fe0b0d4a029bef_map-cp.png" class="img-map" />
        </div>
        <div class="contract">
            <h2>Grandes talentos pelo menor custo!</h2> <br />
            <a>Veja nosso processo seletivo e contrate profissionais mais qualificados, trazendo eficiência financeira e reduzindo a sua rotatividade!</a> <br /> <br />
            <a>
                Go Vagas é uma plataforma que oferece diversos serviços para facilitar o dia a dia do profissional de RH. Com uma grande base de currículos qualificados e atualizados, tornamos a busca por candidatos mais simples e rápida. <br />
                Nosso foco são vagas operacionais, auxiliares e administrativas. Disponibilizamos vagas para todo o Brasil.
            </a>
            <p><a href="https://api.whatsapp.com/send/?phone=5537999293200&text&type=phone_number&app_absent=0" target="_blank" class="btn btn-dark btn-md btn-hire btn-hire-color text-center">CONTRATE AGORA</a></p>
        </div>
    </section>

    @* CARROSSEL COM LOGOS DE EMPRESAS PARCEIRAS *@
    <section class="center">
        <div id="carouselExampleControls" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="~/img/Almeida1.jpg" class="d-block w-100 " alt="...">
                        </div>
                        <div class="col-lg-2">
                            <img src="~/img/Wizard1.jpg" class="d-block w-100 wiz" alt="...">
                        </div>
                        <div class="col-lg-2">
                            <img src="~/img/Onduvili1.png" class="d-block w-100 " alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="~/img/Quorum1.jpg" class="d-block w-100 " alt="...">
                        </div>
                        <div class="col-lg-2">
                            <img src="~/img/Almeida1.jpg" class="d-block w-100 " alt="...">
                        </div>
                        <div class="col-lg-2">
                            <img src="~/img/Wizard1.jpg" class="d-block w-100 wiz" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="~/img/Onduvili1.png" class="d-block w-100 " alt="...">
                        </div>
                        <div class="col-lg-2">
                            <img src="~/img/Quorum1.jpg" class="d-block w-100 " alt="...">
                        </div>
                        <div class="col-lg-2">
                            <img src="~/img/Almeida1.jpg" class="d-block w-100 " alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="~/img/Wizard1.jpg" class="d-block w-100 wiz" alt="...">
                        </div>
                        <div class="col-lg-2">
                            <img src="~/img/Onduvili1.png" class="d-block w-100 " alt="...">
                        </div>
                        <div class="col-lg-2">
                            <img src="~/img/Quorum1.jpg" class="d-block w-100 " alt="...">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev c-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next c-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <section class="vantagens">
        <div>
            <img src="~/img/mulher-que-seleciona-imagens-de-pessoas.jpg" class="img-mul blocks" />
        </div>
        <div class="beneficios">
            <div style="margin-left: 25px;">
                <div class="ul-vant">
                    <a class="tit-vant">TECNOLOGIA</a> <br />
                    <a class="msg-vant"> Usamos a tecnologia a nosso favor e entregamos um serviço rápido e assertivo para sua empresa.</a>
                </div>
                <div class="ul-vant">
                    <a class="tit-vant">TEMPO</a> <br />
                    <a class="msg-vant"> Encontre candidatos qualificados em menor tempo.</a>
                </div>
                <div class="ul-vant">
                    <a class="tit-vant">VALOR</a> <br />
                    <a class="msg-vant">Suporte de candidatos rápido e humanizado para impulsionar a candidatura de grandes talentos para suas vagas.</a>
                </div>
            </div>
        </div>
    </section>

    @* BANNER DO MEIO DA PAGE COM BOTÃO DE CHAMADA PARA AÇÃO *@
    <section class="second-banner">
        <div class="msg-banner">
            <h2 class="txt-banner">
                Facilite sua rotina com nosso site. <br />
                Mais resultados e menos burocracia, sem abrir mão da segurança de dados.
            </h2>
            <p><a href="https://api.whatsapp.com/send/?phone=5537999293200&text&type=phone_number&app_absent=0" target="_blank" class="btn btn-dark btn-md btn-hire2 btn-hire-color text-center">CONTRATE AGORA</a></p>
        </div>
        <div>
            <img src="~/img/portrait-business-woman-working-laptop.jpg" class="img-mul2" />
        </div>
    </section>

    @*CARDS COM DEPOIMENTOS DE PARCEIROS (DESATIVADO POR ENQUANTO)*@
    @*<section class="partners-frase">
        <p class="mt-5 mb-5 p-1" id="frase-fim">
            PARCEIROS QUE JÁ MUDARAM SUA FORMA DE RECRUTAR 
        </p>
    </section>
    <section class="depo">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Caio - Itaúna/MG - Coordenador IT2B (SP)MG - Coordenador IT2B (SP)
                        </h5>
                        <p class="card-text">
                            “Uma nova empresa, mas já uma referência no setor."
                            A Go Vagas vem fazendo a seleção de candidatos para a contratação em nossa empresa e sempre apresentando ótimos perfis. O nosso turnover diminuiu consideravelmente desde o início da parceria com a Go Vagas.
                            Sempre muito atentos e prestativos, sempre buscam o melhor para atender às nossas necessidades. Uma equipe muito profissional e qualificada.”
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Caio - Itaúna/MG - Coordenador IT2B (SP)MG - Coordenador IT2B (SP)
                        </h5>
                        <p class="card-text">
                            “Uma nova empresa, mas já uma referência no setor."
                            A Go Vagas vem fazendo a seleção de candidatos para a contratação em nossa empresa e sempre apresentando ótimos perfis. O nosso turnover diminuiu consideravelmente desde o início da parceria com a Go Vagas.
                            Sempre muito atentos e prestativos, sempre buscam o melhor para atender às nossas necessidades. Uma equipe muito profissional e qualificada.”
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Caio - Itaúna/MG - Coordenador IT2B (SP)MG - Coordenador IT2B (SP)
                        </h5>
                        <p class="card-text">
                            “Uma nova empresa, mas já uma referência no setor."
                            A Go Vagas vem fazendo a seleção de candidatos para a contratação em nossa empresa e sempre apresentando ótimos perfis. O nosso turnover diminuiu consideravelmente desde o início da parceria com a Go Vagas.
                            Sempre muito atentos e prestativos, sempre buscam o melhor para atender às nossas necessidades. Uma equipe muito profissional e qualificada.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </section>*@


    <style>

        @@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sofia+Sans+Condensed:ital,wght@1,300&display=swap');

        @@media only screen and (max-width: 1200px) {
            .vantagens, .info {
                flex-wrap: wrap;
            }

            .beneficios, .contract {
                margin-top: 30px;
            }

            .btn-hire {
                margin-left: min(1200px, 30vw);
                font-size: 2vw;
            }

            .center {
                width: 25%;
                height: 25%;
            }
        }

        .vantagens {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 75px;
        }

        .info {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center {
            width: 75%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5em;
            margin-left: 25vw;
            margin-bottom: 100px;
        }

        .resz-img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1%;
        }

        .resimg {
            width: 410px;
            height: 460px;
        }

        .img-map {
            height: min(600px, 60vw);
        }

        #frase-meio {
            background-color: #F15A2A;
            text-align: center;
            color: whitesmoke;
            border-radius: 10px;
            margin-left: 10%;
            margin-right: 10%;
        }
        #frase-fim {
            background-color: #F15A2A;
            text-align: center;
            color: whitesmoke;
            border-radius: 10px;
            margin-left: 10%;
            margin-right: 10%;
            font-size: max(2vw, 1vw);
        }
        .restxt {
            font-size: min(55px, 25vw);
            text-align: left;
            color: whitesmoke;
            margin-left: 25px;
            color: white;
        }

        .contract {
            margin-top: 7vw;
        }

        .btn-hire {
            margin-top: 75px;
            font-size: 2vw;
            font-weight: bold;
        }

        .vantagens {
            display: flex;
            margin-top: 7vw;
        }

        .img-mul {
            height: min(500px, 40vw);
            border-radius: 95px;
        }

        li {
            text-decoration: none;
            list-style: none;
        }

        ul {
            text-decoration: none;
            list-style: none;
        }

        .ul-vant {
            margin-bottom: 30px;
            text-decoration: none;
            list-style-type: none;
        }

        .tit-vant {
            text-decoration: none;
            list-style: none;
            color: #212529;
            font-weight: bolder;
            font-size: 25px;
        }

        .msg-vant {
            text-decoration: none;
            list-style: none;
            color: #F15A2A;
            font-size: 20px;
        }

        .btn-img {
            z-index: 1;
            position: relative;
            margin-top: min(-12vw, -10vw);
            margin-left: 5.3vw;
            font-size: max(2.0vw, 1.2vw);
        }
        @@media only screen and (max-width: 675px) {
            .btn-img{
                margin-bottom: 25px;
            }
        }
        .btn-hire1 {
            font-size: 2vw;
            font-weight: bold;
            color: #212529;
            padding: -20px;
        }

        .second-banner {
            margin-top: 125px;
            margin-bottom: 150px;
            height: 22vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .img-mul2 {
            height: 20vw;
            border-radius: 95px;
        }

        .msg-banner {
            width: 650px;
        }

        .txt-banner {
            color: #F15A2A;
        }

        .btn-hire2 {
            margin-top: 75px;
            font-size: 2vw;
            font-weight: bold;
        }

        @@media only screen and (max-width: 1000px) {
            .img-mul2, .center {
                display: none;
            }
            .btn-hire2 {
                margin-left: 35%;
                margin-top: 15px;
            }
        }

        .depo {
            margin-top: 75px;
            margin-bottom: 75px;
        }
        .btn-hire-color {
            background-color: #F15A2A;
            color: #212529;
        }
        .c-next {
            margin-right: max(20vw, 1.2vw);
        }
        .c-prev {
            margin-left: min(-3.8vw, -1.2vw);
        }
        .row{
            margin-left: 5vw;
        }
    </style>
</main>